<!-- Global site tag (gtag.js) - Google Analytics -->
<script async type="text/plain" data-type="text/javascript" data-name="googleAnalytics" data-src="https://www.googletagmanager.com/gtag/js?id=UA-36925282-1"></script>
<script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-36925282-1');
</script>

<!-- make sure the config gets loaded before Klaro -->
<script defer type="text/javascript" src="{{ "/assets/js/cookies_config.js" | relative_url}}"></script>
<script defer type="text/javascript" src="https://cdn.kiprotect.com/klaro/v0.7.1/klaro.js"></script>