<!-- Clients Start -->
<section class="position-relative ptb-80 ptb-sm-40 ptb-md-60 basic-thine-line">
    <div class="container">
        <div class="row text-center">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="item brand hover-style">
                    <a href="https://www.arsys.es" target="_blank"><img src="{{ "/assets/img/clients/arsys.png" | relative_url }}" alt="Arsys"></a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="item brand hover-style">
                    <a href="https://www.ormazabal.com" target="_blank"><img src="{{ "/assets/img/clients/ormazabal.png" | relative_url }}" alt="Ormazabal"></a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="item brand hover-style">
                    <a href="https://www.accio3.com" target="_blank"><img src="{{ "/assets/img/clients/accio3.png" | relative_url }}" alt="Accio3"></a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="item brand hover-style">
                    <a href="https://www.cbcenter.es" target="_blank"><img src="{{ "/assets/img/clients/cbcenter.png" | relative_url }}" alt="CBCenter"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Clients End -->

            <!-- footer part start -->
            <footer class="footer-part bg-dark">
                <div class="inner text-style-light ptb-60 ptb-sm-60">
                    <div class="container">
                        <div class="row text-left">
                            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                                <div class="footer-logo">
                                    <img src="{{ "/assets/img/logo/cursodegit_logo.png" | relative_url }}" alt="multipurpose logo">
                                </div>
                                <p class="mt-20">Te ayudamos a que tu equipo de desarrollo trabaje con git de forma fluida y con efectividad.</p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <h3>cursodegit.com</h3>
                                <ul class="list-unstyled">
                                    <li><a href="{{ "/sobre-nosotros.html" | relative_url}}">Sobre nosotros</a></li>
                                    <li><a href="{{ "/curso-de-git-avanzado-presencial.html" | relative_url}}">Curso presencial</a></li>
                                    <li><a href="{{ "/curso-de-git-avanzado-a-distancia.html" | relative_url}}">Curso a distancia</a></li>
                                    <li><a href="{{ "/contacto.html" | relative_url}}">Contacto</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <h3>Stay Connnected</h3>
                                <ul class="social-icon style-solid-rounded-icon icon-size-medium text-left p-0 mt-3">
                                    <li class="github"><a href="https://github.com/cursodegit" class="link" aria-label="linkedin"><i class="fab fa-github"></i></a></li>
                                    <li class="twitter"><a href="https://twitter.com/cursodegit" class="link" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li class="linkedin"><a href="https://www.linkedin.com/company/cursos-de-git" class="link" aria-label="linkedin"><i class="fab fa-linkedin"></i></a></li>
                                    <li class="facebook"><a href="https://www.facebook.com/cursodegit" class="link" aria-label="Facebook"><i class="fab fa-facebook"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="basic-thine-line"></div>
                    <div class="row">
                        <div class="footer-copyright text-style-light">
                            <div class="copyright">
                                <p class="text-center mb-0 py-3">
                                    &copy; 2012 - 2020 cursodegit.com.<br>
                                    <a href="{{ "/politica-privacidad-proteccion-de-datos.html" | relative_url }}">Política de privacidad y protección de datos</a>
                                    | <a href="{{ "politica-de-cookies.html" | relative_url }} ">Política de cookies</a>
                                    | <a href="javascript:;" onclick="return klaro.show();">Configuración de cookies</a>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer><!-- footer part end -->