    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />

    <!-- SEO -->
    {% seo %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ "/assets/img/logo/favicon.png" | relative_url }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ "/assets/img/logo/favicon.png" | relative_url }}">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">
    <!-- Plugins css -->
    <link rel="stylesheet" href="{{ "/assets/css/plugins.css" | relative_url }}">
    <!-- Style Css -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">