/*==================================================================================
    Custom Stylesheet ( Any custom styling you want to apply should be defined here ).
====================================================================================*/

.portfolio-testimonial .owl-dots {
	text-align: center;
	position: relative;
	left: inherit;
	bottom: inherit;
}

.owl-dot {
    background-color: #bbbbbb;
}

.owl-carousel button.owl-dot.active {
    background-color: #000000;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background-color: #bbbbbb;
}
.video-play-overlay-image {
    z-index: 1
}

.video-play-overlay-button {
    position: absolute; 
    z-index: 2; 
    left: 50%; 
    top: 50%;
    width: 70px;
    height: 70px;
    padding: 0;
    background: #fff;
    color: #000000;
    border-radius: 50% !important;
}

.video-play-overlay-button button i {
    font-size: 35px;
    padding: 15px;
}