<!DOCTYPE html>
<html dir="ltr" lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
	{%- include head.html -%}
</head>
<body class="{{site.snail.body_class}}">

	{%- include body.html -%}

	<!-- Scripts
	============================================= -->

    <!-- jquery -->
	<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
 	<!-- counterUp js -->
	<script src="{{ "/assets/js/jquery.counterup.min.js" | relative_url }}"></script>
 	<!-- datimepicker js -->
	<script src="{{ "/assets/js/jquery.datetimepicker.min.js" | relative_url }}"></script>
 	<!-- justifiedGallery js -->
	<script src="{{ "/assets/js/jquery.justifiedGallery.min.js" | relative_url }}"></script>
 	<!-- magnific popup selet js -->
	<script src="{{ "/assets/js/jquery.magnific-popup.js" | relative_url }}"></script>
 	<!-- nice selet js -->
	<script src="{{ "/assets/js/jquery.nice-select.min.js" | relative_url }}"></script>
 	<!-- jquery ui js -->
	<script src="{{ "/assets/js/jquery-ui.min.js" | relative_url }}"></script>
 	<!-- waypoints js -->
	<script src="{{ "/assets/js/jquery.waypoints.min.js" | relative_url }}"></script>
	<!-- audioplayer js -->
	<script src="{{ "/assets/js/audioplayer.js" | relative_url }}"></script>
	<!-- imagesLoaded js -->
	<script src="{{ "/assets/js/imagesloaded.pkgd.min.js" | relative_url }}"></script>
	<!-- isotope js -->
	<script src="{{ "/assets/js/isotope.pkgd.min.js" | relative_url }}"></script>
 	<!-- headroom js -->
	 <script src="{{ "/assets/js/headroom.js" | relative_url }}"></script>
 	<!-- slick js -->
	 <script src="{{ "/assets/js/slick.min.js" | relative_url }}"></script>
 	<!-- scrollreveal js -->
	 <script src="{{ "/assets/js/scrollreveal.min.js" | relative_url }}"></script>
	<!-- owl carousel js -->
    <script src="{{ "/assets/js/owl.carousel.min.js" | relative_url }}"></script>
	<!-- particles js -->
    <script src="{{ "/assets/js/particles.min.js" | relative_url }}"></script>
    <!-- particles effect -->
    <script src="{{ "/assets/js/particles-mouse-line.js" | relative_url }}"></script>
    <!-- theia-sticky-sidebar effect -->
    <script src="{{ "/assets/js/theia-sticky-sidebar.min.js" | relative_url }}"></script>
    <!-- TimeCircles js -->
	<script src="{{ "/assets/js/TimeCircles.js" | relative_url }}"></script>
    <!-- Typed js -->
	<script src="{{ "/assets/js/typed.min.js" | relative_url }}"></script>
    <!-- WOW js -->
	<script src="{{ "/assets/js/wow.min.js" | relative_url }}"></script>	
    <!-- Plugins js -->
    <script src="{{ "/assets/js/plugins-min.js" | relative_url }}"></script>
    <!-- custom js -->
    <script src="{{ "/assets/js/custom-min.js" | relative_url }}"></script>
    <!-- script js -->
    <script src="{{ "/assets/js/script.js" | relative_url }}"></script>

	{%- include footer_scripts.html -%}
</body>
</html>